*{
	padding:0;
	margin:0;
	border:0;
}
.nav{
	background-color: blue;
	padding:10px;
	display:-webkit-flex;
}
.item{
	color:green;
	padding:0 5px;
	border:1px solid gray;
	text-align:center;
    background-color: red;
}
.item-ratio-1{
    -webkit-flex: 1;
}
.item-ratio-3{
    -webkit-flex: 3;
}
.item-width{
    width:200px;
}
.nav-center{
    width:100%;
    height:60px;
    background-color: blue;
    justify-content: center;        /*子元素水平居中*/
    align-items: center;            /*子元素垂直居中*/
    display:-webkit-flex;
}







